[2017-08-16 19:08] pomadchin opened #1 "Update docker container"
Update docker container version used in travis to use PDAL 1.5.0

[2017-09-03 18:13] lossyrob opened #2 "TinToDem takes extent and doesn't use it"
There's a parameter in the TinToDem methods, `extent`, which seems to be unused.

[2017-09-05 14:14] #2 closed, assigned to nobody

[2018-04-13 12:32] romulogoncalves opened #4 "PDAL's java bindings: link is broken"

[2018-04-13 12:59] pomadchin commented on #4
Hey thanks for the report! We work on publishing the new one here: https://github.com/PDAL/java

[2018-04-13 13:00] pomadchin commented on #4
closed via 567c917

[2018-04-13 13:00] #4 closed, assigned to nobody

[2018-04-17 11:18] romulogoncalves opened #5 "pom.xml still points to pdal 1.6.0"
The pom file at:
http://dl.bintray.com/azavea/geotrellis/

Still points to pdal-scale 1.6.0
<groupId>io.pdal</groupId>
<artifactId>pdal-scala_2.11</artifactId>
<version>1.6.0</version>

While the README re-directs us to PDAL/java which for versions > 1.7.0

Is there plans to align the versions?
Is also there plans to make it available at the maven repository?

[2018-04-17 11:20] pomadchin commented on #5
Hey @romulogoncalves yes, we'll update this demo soon (and fix tests).
_Not sure_ how it would go with maven central, but definitely would be published on bintray.

[2018-04-17 11:21] pomadchin commented on #5
Also PDAL/java works fine for PDAL 1.4+, and the docs should be the same. The story is that PDAL/java moved from the PDAL/PDAL repo folder into its separate repository.

[2018-04-18 09:13] romulogoncalves commented on #5
Thanks,

In the meantime I am using it with PDAL 1.7-maintainance and I use pdal-scala 1.7.1 jars and so it works without issues.

[2018-04-18 15:09] romulogoncalves opened #6 "PointCloud.getShort(i, dim = "Classification") gives java.nio.BufferUnderflowException"
Hi,

I have a cluster (Spark 2.2.0 and Hadoop 2.8.3) with 4 Ubuntu 16.4 nodes (2 cores and 8GB each). To have geotrellis-pointcloud I use the following jars:
geotrellis-pointcloud 1.6.0
io.pdal:pdal                1.7.1
io.pdal:pdal_scala        1.7.1
io.pdal:pdal_native      1.7.1

The installed PDAL is version 1.7.maintenance, installed from sources.

When I read X, Y, Z into a RDD[(Double, Doub

[2018-04-18 15:13] pomadchin commented on #6
Hey! I'll try to have a look into it as fast as it's possible. Thanks for your report!

[2018-04-18 15:17] romulogoncalves commented on #6
We spot the reason, we should use getByte and not getShort. In the schema I got confuse with Intensity which is a 2 byte field while classification is 1 byte.

I think we can mark it invalid, right?

[2018-04-18 15:22] pomadchin commented on #6
Yea, if it's the case than feel free to close your issue. :D Glad that it was just a type mismatch.

[2018-04-18 15:24] romulogoncalves commented on #6
Issue is invalid, there was a type mismatch.

[2018-04-18 15:24] #6 closed, assigned to nobody

[2018-04-21 15:12] pomadchin commented on #5
Fixed in #7

[2018-04-21 15:12] #5 closed, assigned to nobody

[2018-04-21 15:12] pomadchin commented on #1
Updated up to PDAL 1.7.1. Fixed in #7

[2018-04-21 15:12] #1 closed, assigned to nobody

[2018-04-23 23:47] pomadchin commented on #5
Hey! geotrellis-pointcloud has auto publish to bintray already: https://bintray.com/azavea/geotrellis/geotrellis-pointcloud/0.2-82cb0fb check out the new version!

[2018-05-22 13:15] romulogoncalves opened #8 "S3 reader: it is not connecting to the defined endpoint."
Hi,

I trying to read pointcloud data to Spark from a local storage which provides S3 API (in our case we use [Minio](https://github.com/minio/cookbook/blob/master/docs/apache-spark-with-minio.md). To do that, I define the following in the core-site.xml:
[code]

When I do a normal read from S3 is works, for example:
[code]

When I try to read a laz file using **S3PointCloudRDD**, it fails because

[2018-05-22 13:29] pomadchin commented on #8
Hey @romulogoncalves, you also need to setup aws s3 sdk credentials: https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/credentials.html

[2018-05-22 13:29] pomadchin commented on #8
GeoTrellis reads data from `S3` via `S3 SDK` usage and not via `Hadoop API`. [link](https://github.com/geotrellis/geotrellis-pointcloud/blob/master/src/main/scala/geotrellis/pointcloud/spark/io/s3/S3PointCloudRDD.scala#L44)

[2018-05-22 13:35] pomadchin commented on #8
In your case if you still want to use s3 but using Hadoop API try to use a common [HadoopPointCloudRDD](https://github.com/geotrellis/geotrellis-pointcloud/blob/master/src/main/scala/geotrellis/pointcloud/spark/io/hadoop/HadoopPointCloudRDD.scala)

[2018-05-22 14:57] romulogoncalves commented on #8
@pomadchin thanks for the quick reply.

Now I understood how **S3PointCloudRDD** works.

For now I will just use **HadoopPointCloudRDD** to read from a local object storage with S3 Api. I just tested and it works.

Out of curiosity, is there any performance difference when using **HadoopPointCloudRDD** instead of **S3PointCloudRDD**? Why not only have HadoopPointCloudRDD to access HDFS and object

[2018-05-22 15:24] pomadchin commented on #8
@romulogoncalves there is, `S3` should work faster. Hadoop API is a bit slower in this case, though you can double check.

[2018-05-22 15:34] romulogoncalves commented on #8
Thanks for the reply.
I think the issue can be closed.

[2018-05-22 15:34] #8 closed, assigned to nobody

[2018-05-22 16:02] romulogoncalves opened #9 "Write Point Clouds in a PDAL supported format, such as LAZ, into HDFS and S3"
Currently it is only possible to store data as a GeoTrellis layer. To save as a LAZ file what we do is either save the LAZ file into a local directory which is mount of an S3 bucket or we save it into temporary file and then we upload it to HDFS.

Would it be possible to save the results after a pipeline execution directly into HDFS or S3?
Are there plans to have such functionality? Or should such

[2018-05-22 16:21] pomadchin commented on #9
Current `Pipeline` is a `PDAL` pipeline and translates into `PDAL` JSON. There are two solutions: 1. move it into PDAL or 2. to implement smth on our side, but I'm not sure that `PDAL` exposes it.

[2018-05-23 07:04] romulogoncalves commented on #9
Yes, I thought the same. Such feature would be very welcomed.

For now we are just exploring geotrellis, geotrellis-pointcloud and PDAL and once we start using it for our projects we might contribute back.

I think have it implemented in PDAL would be the right option. Also it should allow the user to save data into multiple files since large files are hard to handle in Spark if streaming is not a

[2018-05-23 07:14] romulogoncalves opened #10 "Stream support when reading large LAZ files from S3 or HDFS."
It seems it is not to be possible to read large LAS/LAZ files.

We just tried to read a 2.5GB and we got:
[code]

We could cute the file with GDAL before uploading it to our local S3, but if we could stream such large files directly from S3 it would be great. The data sets we have are countrywide LiDAR data sets where each file (LAZ format) can reach 4GB size.

I think the issue could be solved in

[2018-05-23 07:23] pomadchin commented on #10
Hey @romulogoncalves we're reading `las` and `laz` files via `PDAL` and not via our LAS / LAZ readers, i believe it's a good question for a PDAL gitter channel!

[2018-05-23 07:25] pomadchin commented on #10
Some references: https://pdal.io/pipeline.html#processing-modes and https://pdal.io/apps/pipeline.html#pipeline-command

If you could investigate a little bit more - where the problem happens, or to provide some test data to track it down it would be useful.

[2018-05-23 07:26] pomadchin commented on #10
By "where" i mean is it a `PDAL` issue or `PDAL bindings` issue or `GeoTrellis pointcloud` issue.

[2018-05-23 07:30] pomadchin commented on #10
Ah potentially the issue is [here](https://github.com/geotrellis/geotrellis-pointcloud/blob/master/src/main/scala/geotrellis/pointcloud/spark/io/hadoop/formats/PointCloudInputFormat.scala#L117-L120) can you double check it?

[2018-05-23 08:14] romulogoncalves commented on #10
@pomadchin I will check it, thanks.

btw, the data can be obtained from here:
https://geodata.nationaalgeoregister.nl/ahn3/extract/ahn3_laz/C_25GN2.LAZ

[2018-05-23 09:18] romulogoncalves commented on #10
I think the error comes from GeoTrellis. When you search for the error message you find the following [line of code at HdfsUtls.scala](https://github.com/locationtech/geotrellis/blob/f5601fb50bc9afa2863b7a128b5565d7adf24a96/spark/src/main/scala/geotrellis/spark/io/hadoop/HdfsUtils.scala#L166)
[code]
I think it doesn't even reaches PDAL at this points looking to the backtrace:
[code]

[2018-05-23 09:20] pomadchin commented on #10
Thx for investigation! The thing is that `PDAL` can work only with local files, so we need to fix the current logic of copying file from `HDFS` / `S3` to a local fs to prevent this exception.

[2018-05-23 15:57] romulogoncalves commented on #10
Are these files removed from the `/tmp/` dir after pipeline execution? We are running out of space after running several pipelines within the same application.

What is the effect of `RDD.cache()` or `RDD.unpersist()` on these temporary copies of the LAS files?

[2018-05-23 16:01] pomadchin commented on #10
@romulogoncalves both questions are good, i'll double check the deletion of las / laz files;
`cache` caches in memory be default, in fact it's an extra copy of rdd in mem / on disk (depending on the strategy you want to follow). it's required sometimes to speed up computations in cases when you need to do several things to the same rdd starting from some logical point.

[2018-05-23 16:02] pomadchin commented on #10
tmp files should be deleted: https://github.com/geotrellis/geotrellis-pointcloud/blob/master/src/main/scala/geotrellis/pointcloud/spark/io/hadoop/formats/PointCloudInputFormat.scala#L179-L180

[2018-05-23 16:22] romulogoncalves commented on #10
That's good news, but then how are things managed when the pipeline touches a lot of files? We do a crop to reduce data size, but in reality it does matter much for the size of `/tmp/` because all files on which the polygon touches are downloaded and kept until the end of the pipeline execution, right?

To circumvent the issue we could have these files stored in a different location, such as `/scr

[2018-05-23 18:03] pomadchin commented on #10
Right, yes you can set it up [to any dir you want](https://github.com/geotrellis/geotrellis-pointcloud/blob/master/src/main/scala/geotrellis/pointcloud/spark/io/hadoop/formats/PointCloudInputFormat.scala#L70-L71):

[code]

Well it can happen so, if any node would require data from the same file than it would be downloaded.  To avoid it you need to be sure that in your partitioning scheme you have

[2018-05-28 10:28] pomadchin commented on #9
We can write outputs to local fs and to copy the result into `HDFS` or into `S3`, sounds like a DSL enhancement and probably can be even implemented in terms of `PDAL-Scala`.

[2018-05-28 15:20] romulogoncalves opened #12 "Split a pointcloud file over several RDD records instead of having it in one single record."
If we understood correctly, for each LAS/LAZ file loaded, geotrellis creates a RDD record. If a data set has some large files this will create unbalance task processing, i.e., ones will take a lot longer than others.

A solution would be to split large LAS/LAZ files into multiple RDD records. From PDAL we have the following filter functions: `chipper`, `divider` and `splitter`. We have tried them

[2018-05-29 07:03] pomadchin commented on #10
The discussion started here would be continued in this issue: https://github.com/geotrellis/geotrellis-pointcloud/issues/12

[2018-05-29 07:03] #10 closed, assigned to nobody

[2018-05-29 11:00] romulogoncalves opened #13 "When reading large files with the new FileStreamRecordReader gives **No codec found**"
When reading the point with the new stream approach from #11 we see the following warning being reported:
[code]
It seems it is not reading as a compressed file that will lead to corrupted data. In #11 we tested  by reading the metadata to trigger the creation of the RDD. The metadata was correct so we assumed things were working because the RDD had to be populate before we could retrieve the meta

[2018-05-29 11:01] pomadchin commented on #13
It's not an issue, it's a report that i can move to a debug level. It is about `gz` compression: https://github.com/geotrellis/geotrellis-pointcloud/blob/master/src/main/scala/geotrellis/pointcloud/spark/io/hadoop/formats/FileStreamRecordReader.scala#L41

[2018-05-29 11:03] pomadchin commented on #13
Fixed in https://github.com/geotrellis/geotrellis-pointcloud/commit/b91f6bcabb6675d26f1e060097c81b4e42c70716

[2018-05-29 11:03] #13 closed, assigned to nobody

[2018-05-29 11:09] pomadchin commented on #13
Published as https://bintray.com/azavea/geotrellis/geotrellis-pointcloud/0.2-b91f6bc

[2018-05-29 15:08] romulogoncalves opened #14 "Crop with bounds leads to a JVM crash for files with 500M points"
The following read:
[code]

Leads to the following error:
[code]

The content of the log file
[hs_err_pid25838.log](https://github.com/geotrellis/geotrellis-pointcloud/files/2048777/hs_err_pid25838.log) is in the attachments.

Any ideas or suggestions for such crash?
We have a machine with 32GB, the worker uses 30GB and the executor 30GB, this is, one executor per worker.

If we need to provide mo

[2018-05-29 15:10] pomadchin commented on #14
Hm, if you'll have a smaller file to reproduce this issue with - it would be really helpful.

[2018-05-29 15:10] romulogoncalves commented on #14
the issue is that, it only happens with big files.
I will try to debug it a bit more.

[2018-05-29 15:24] pomadchin commented on #14
Can be some memory allocation issue than.

[2018-05-29 16:02] romulogoncalves commented on #14
@pomadchin

When we run for a small file we do not get a crash. However, if check the number of points returned using the metadata it does reflect the crop output:
[code]
It should be `523787`.

To read obtain this result we use the RDD defined above and we do:
[code]
In case we write the result of the pipeline into a local file its metadata has the correct number of points (that's how we know the

[2018-05-30 13:17] romulogoncalves commented on #14
@pomadchin

I see that the crash is at [PointCloudInputFormat.scala line 159](https://github.com/geotrellis/geotrellis-pointcloud/blob/feature/outputstreamformat/src/main/scala/geotrellis/pointcloud/spark/io/hadoop/formats/PointCloudInputFormat.scala#L159).

Hence, my goal is to run this piece of code from our notebook. Before I am able to run the code, I need to get the types right. Hence, I am t

[2018-05-30 14:35] romulogoncalves commented on #14
@pomadchin I have isolated the code and now it should be easy to debug the issue. I am using an Ubuntu virtual machine with 4 cores and 32 GB main-memory and 48GB of swap.

The data can be obtained from here (it has around 500M points):
[code]

Then the following code was executed in Jupyter notebook running a scala kernel. The code is a light version of your code from [PointCloudInputFormat.scala

[2018-05-30 14:45] pomadchin commented on #14
The answer in your case that there is nothing smart to do with it; the workarounds in this case obviously would be

1. to reduce amount of dimensions loaded into JVM memory: https://github.com/PDAL/java/blob/master/core/src/main/scala/io/pdal/PointView.scala#L47
2. to think about some las / laz files partitioning before loading into mem and to load smaller chunks but on sep machines.

It doesnt lo

[2018-06-11 14:07] romulogoncalves commented on #14
@pomadchin I decided to dive a bit into this issue because I think lack of memory can't be the only reason. Take the following file:
[code]
It has 440MB size in LAZ format, it stores 91M points.

Execution exactly the same code above, even without `filter.crop` we get a JVM crash.
[code]

The machine has 32GB main memory, so we do not think there is enough memory to process 91M points. The pipelin

[2018-06-11 14:36] pomadchin commented on #14
What's inside of the `/home/ubuntu/hs_err_pid21764.log` ?

You said even without a crop. Without a crop there would be more points. Try to crop by a small area, wondering what would be the result.

[2018-06-11 15:09] romulogoncalves commented on #14
[hs_err_pid21764.log](https://github.com/geotrellis/geotrellis-pointcloud/files/2090493/hs_err_pid21764.log) in the attachments.

For a large file, 500M, we did a crop to 15M and even after that it crashed. We assumed there was so intermediate being created, therefore, it was the reason to crash JVM. Hence, we decided to test without cropping, just a clean read, and because of that we wrote "even

[2018-06-11 15:40] pomadchin commented on #14
How many dimensions this LAZ file has?
Have you tried to select only interesting dimensions into JVM memory?

[2018-06-11 15:46] pomadchin commented on #14
Have you tried to calculate how much memory should occupy such a 15 mill elements array?
It full fills an `Array[Byte]`, the length of such array is possible to calculate: `number of points * (sum of all dims size)`

[2018-06-11 15:50] romulogoncalves commented on #14
It has 13 dimensions. Assuming 6 of them are doubles and the other 7 are integers (we are overestimating) a record would be: (6*8 + 4*7) 91M = 6.6GB which is near 20% of our memory (it reported 16% after `pipeline.execute` because we are overestimating).

Maybe this info helps on something, these are the dimensions reported by `lasinfo`
[code]

[2018-06-11 15:58] pomadchin commented on #14
Can you try to select only X, Y, Z and check the behaviour?
I just feel suspicious to the array allocation method

[2018-06-11 16:10] pomadchin commented on #14
So it stores all points in a single byte array, the issue happens at this point: https://github.com/PDAL/java/blob/caa95c9c9f73f341fd08db99c86e3173cb223868/native/src/io_pdal_PointView.cpp#L169

you can try to insert some debugging print here, to print the buffer length it would try to allocate: `bufSize`

Taking into account your input: `(6 * 8 + 7 * 4) * 15M = 1.140B` length. Probably it can't a

[2018-06-11 20:45] romulogoncalves commented on #14
@pomadchin

A silly question, I have modified the sources you said, then I did:
[code]
And then I thought `sbt assembly` would be enough to get the new jars. However, I get a complain:
[code]
How should I compile to get the the native compiled?

[2018-06-11 20:56] pomadchin commented on #14
You don't have to build assembly, just publish everything locally using this script: https://github.com/PDAL/java/blob/master/scripts/publish-local.sh

[2018-06-12 08:13] romulogoncalves commented on #14
@pomadchin thanks, that did the job. However, I do not see anything being printed. The following line was added:
[code]

With a strace I see that the new `libpdaljni.1.4.so` is being used. I am also using the new jars, I started scala consoled with the following classpath:
[code]
It is strange I do not see it in the `strace` log file. Do we need to redirect the stdout from C++ to the scala stdout?

[2018-06-12 08:17] pomadchin commented on #14
Can you show me the code?
Why haven't you tried to write logs into `stdout`?

[2018-06-12 08:27] romulogoncalves commented on #14
Either `cout` or `cerr` we still do not get it printed.

The scala code we use is the the following:
[code]

[2018-06-12 08:28] pomadchin commented on #14
I meant a new _C function body_ sry for the confusion.

And what's the new error including the stacktrace in a log file?

[2018-06-12 08:59] romulogoncalves commented on #14
The C function looks like this:
[code]

And the [strace.zip](https://github.com/geotrellis/geotrellis-pointcloud/files/2093318/strace.zip) obtained like this:
[code]

The `.so` file was added to:
[code]

In strace you can see it picked up that one.

[2018-06-12 09:05] pomadchin commented on #14
Ok, and what's `hs_err_pid.log`?

You may try to kill the process after printing the length.

[2018-06-12 09:25] romulogoncalves commented on #14
@pomadchin I injected a print statement in `pipeline Execute` and it was printed out, that means I am running correctly the program.

I added a print statement where we get the `PointSize` which is here:
https://github.com/PDAL/java/blob/caa95c9c9f73f341fd08db99c86e3173cb223868/native/src/io_pdal_PointView.cpp#L77

That showed me that the print statement should have been added here [GetPackedPoint

[2018-06-12 09:37] pomadchin commented on #14
Ah yes, sorry for confusion.

Ok, reread [this](https://github.com/geotrellis/geotrellis-pointcloud/issues/14#issuecomment-396298187) comment: bufSize should be `<= Int.MaxValue` as we convert `C` array into Java `Array[Byte]`, and max length of a such array is limited by an `Int.MaxValue`.

`Int.MaxValue` is only `2147483647`, that's why `4195761936` looks like a _big allocation_ in terms on numb

[2018-06-12 09:49] romulogoncalves commented on #14
Indeed, I recall that. I thought with `stream` approach https://github.com/geotrellis/geotrellis-pointcloud/pull/11 was enough to solve that. Maybe we miss-understood it.

The best option would be to implement #12 to increase parallelism. But that for sure would take some time.

thanks for all feedback and help.

[2018-06-12 10:03] pomadchin commented on #14
Yeah, #11 solved the problem of copying a big file into local fs. PDAL can work only with files on a local fs while hadoop doesnt care, so i decided to use streams here to copy files instead of common byte arrays, though it adds some constrains about this stream usage, it should be used carefully and we definitely should know why it's necessary.

#12 would resolve the issue not only of a better pa

[2018-06-12 12:19] romulogoncalves commented on #14
We will see if we can get something for #12, but first we need to understand the code. We will get back to this issue coming days.

[2018-06-12 12:25] romulogoncalves opened #15 "Type Mismatch: ArrayTile and DoubleArrayTile."
Hi,

We are now loading geotrellis-pointcloud code into IntelIJ and we got complains about a type mismatch in [TrianglesRasterizer](https://github.com/geotrellis/geotrellis-pointcloud/blob/master/src/main/scala/geotrellis/pointcloud/raster/rasterize/triangles/TrianglesRasterizer.scala#L33) because an `DoubleArrayTile` is created when the return type is `ArrayTile`.

If we change the return to `Dou

[2018-06-12 12:28] pomadchin commented on #15
`DoubleArrayTile` [is a subtype of `MutableArrayTile`](https://github.com/locationtech/geotrellis/blob/master/raster/src/main/scala/geotrellis/raster/DoubleArrayTile.scala#L24-L25) which [is a subtype of an `ArrayTile`](https://github.com/locationtech/geotrellis/blob/master/raster/src/main/scala/geotrellis/raster/MutableArrayTile.scala#L28) should work fine as it is.

What Intelij IDEA version are

[2018-06-12 12:42] romulogoncalves commented on #15
Solved, the order of compilation was creating this issue. It also needed `geotrellis-vector` 1.2 since the 1.1 does not have triangulation.

[2018-06-12 12:42] #15 closed, assigned to nobody

[2018-06-12 14:35] romulogoncalves commented on #14
@pomadchin looking to the code, we will need some time to get #12 done. Not sure if we have time for that before July or even August.

For what we saw, `PDAL-java` after executing the pipeline would have to give points in batches to create `RDD` records. Each batch has a different header.

The issue is that `Geotrellis-pointcloud` can't guess apriory how many points `PDAL-java` should put in each

[2018-06-13 08:39] pomadchin commented on #14
it turned out that PDAL supports direct reads from `S3`, see: https://github.com/geotrellis/geotrellis-pointcloud/pull/16; since `PDAL 1.3` (?)

Mb it makes sense to think about adding HDFS / Hadoop compatible backends support into `PDAL`?
If so, than we can read headers / stats only from files and make some sense about the desired distribution of points across partitions.

https://github.com/PDAL

[2019-01-15 05:52] brenmous opened #17 "Pointcloud rasterized using PointCloudToDem has large amounts of missing data"
Hi, I'm having some issues generating rasters from PointClouds. The code I'm using is:
[code]
I run the tif through gdal color-relief and the result is:
![gt_raster_issues](https://user-images.githubusercontent.com/15528812/51161199-a49f6e00-18e5-11e9-9afb-3ed5f3bfb3a7.JPG)

As far as I can tell, the PointCloud data is fine - using PDAL I'm able to generate a raster of the same PointCloud that loo

[2019-07-16 06:54] MahdiSMIDA commented on #10
may be reading las files with IQMULUS will be a good idea

[2019-07-16 10:00] pomadchin commented on #10
@MahdiSMIDA their Spark lib is outdated https://github.com/IGNF/spark-iqmulus and supports only las / laz files. PDAL allows to generalize reading and support other pointcloud data formats.

[2020-02-17 20:05] jpolchlo opened #28 "Prepare 3DEP test set"
Select and download 3DEP Scene from [USGS](https://www.usgs.gov/core-science-systems/ngp/tnm-delivery/gis-data-download).  Ingest the LAZ files to EPT format and upload to an Azavea S3 bucket.  This may either require the Entwine Docker container or a local install of those tools.

[Estimated 2 point task]

[2020-02-17 20:09] jpolchlo opened #29 "Test PDAL triangulation services"
Using a PDAL pipeline definition, we can generate Delaunay triangulations from a point cloud.  We will source the data for this operation from the EPT files generated in #28.  Pick an arbitrary AOI for the sample data set and run the pipeline using the PDAL CLI.

Our objective is to have areference pipeline that we can use with a RasterSource.

[2020-02-17 20:12] jpolchlo opened #30 "Implement PDALRasterSource"
Starting from a path to some EPT catalog, we want to read a DEM raster for a given AOI.  This task assumes that it is not possible to read a DEM that is generated directly by PDAL from memory (we assume that the PDAL DEM sink works directly to disk, and there is no internal API to work with their rasters).

Implement this RasterSource in this repo.

[Estimated 5 point task]

[2020-02-17 20:16] jpolchlo opened #31 "Extend PDAL-java bindings with a mesh type"
PDAL now provides mesh output from their Delaunay triangulation pipeline stage.  github.com/pdal/java should expose this type.  Extend that project in order to do that.

[Estimated 5 point task]

[2020-02-17 20:22] jpolchlo opened #32 "Rasterize a PDAL Mesh"
Following completion of #31, we will have access to meshes from PDAL.  These need to be rasterized to a DEM format.  This will either involve iterating over the PDAL structure directly or conversion to a `geotrellis.vector.mesh` object prior to using existing rasterization code.

[Estimated 5 point task]

[2020-02-17 20:26] jpolchlo opened #33 "Evaluate performance of PDALRasterSource"
Once #30 is complete, we will need to consider its performance.  If it is sufficient, then :tada:, else we will need to consider optimizations, up to and inluding
- Truncating the point stream to meet some QOS requirement
- Using GT's triangulator
- Something else

[2020-02-18 16:54] jpolchlo commented on #28
Started new S3 catalog at s3://geotrellis-pointcloud/entwine and uploaded a single scene.  This is of USGS_LPC_ME_Eastern_B1_2017_19TEL505083_LAS_2019, which is a LAZ scan of Mt Katahdin in Maine.  It has been processed through entwine with the command
[code]
prior to renaming and copying to S3.

[2020-02-20 20:20] pomadchin opened #34 "POC Entwine Rasterization"
- [x] Read from the Entwine catalog using PDAL Pipeline
- [x] Triangulate using GT Delaunay
- [x] Rasterize the mesh

NOTE: we don't worry about performance for now.

[2020-02-20 22:09] #28 closed, assigned to jpolchlo

[2020-02-21 20:01] pomadchin opened #35 "Bump deps and release GeoTrellis-Pointcloud 2.12 version"

[2020-02-21 23:26] pomadchin commented on #35
geotrellis-pointcloud 0.3.0 for Scala 2.11 and Scala 2.12 is released!

[2020-02-21 23:26] #35 closed, assigned to pomadchin

[2020-02-26 23:16] jpolchlo commented on #34
I've created a repository at https://github.com/jpolchlo/pointcloud-dem that tracks this work.  There are some conclusions to be made from having compared the GT triangulation approach to the PDAL one.

The first observation to be made is the comparison between the two triangulators.  GT uses an entirely in-memory approach to triangulation that would be untenable at the very large scales of some p

[2020-02-27 21:17] pomadchin opened #37 "Consolidate benchmark results"
As the result of https://github.com/geotrellis/geotrellis-pointcloud/issues/34 we have a project with PDAL pipeline examples and GT DElaunay examples.

To summarize results we can put the code into the `benchmark` subproject and create JMH benchmarks.

As a report it would be helpful to have the following table:

[code]

That would describe us a side by sidereproducible comparison of PDAL vs GeoTr

[2020-02-28 15:20] jpolchlo commented on #34
My last comments require amendments.  It turns out that I was using a PDAL build that is somehow _not quite right_, and the performance I was seeing from PDAL wasn't representative of what should be expected.  In reality, PDAL performs roughly twice as fast as the GT triangulator.

That said, PDAL's triangulator is not nearly as sophisticated as I assumed, and the triangluation appears to be perfo

[2020-03-03 02:06] pomadchin commented on #31
Closed in https://github.com/geotrellis/geotrellis-pointcloud/pull/38

[2020-03-03 02:06] #31 closed, assigned to pomadchin

[2020-03-03 16:52] pomadchin opened #39 "GeoTrellis PointCloud server project"
Create a project in a separate project that will use geotrellis server & DEMRasterSource to server EPT catalog. This is the task to set the initial project.

[2020-03-04 16:24] #34 closed, assigned to jpolchlo

[2020-03-04 21:53] pomadchin commented on #39
https://github.com/geotrellis/geotrellis-pointcloud-server

[2020-03-04 21:53] pomadchin commented on #39
Things TODO: CI, Docker container to run server

[2020-03-04 21:54] pomadchin commented on #29
Was closed by @jpolchlo and merged in https://github.com/geotrellis/geotrellis-pointcloud/blob/master/pointcloud/src/main/scala/geotrellis/pointcloud/raster/ept/DEMRasterSource.scala#L89

[2020-03-04 21:54] #29 closed, assigned to jpolchlo

[2020-03-05 16:24] echeipesh commented on #30
Resolved by: https://github.com/geotrellis/geotrellis-pointcloud/pull/40

[2020-03-05 16:24] #30 closed, assigned to jpolchlo

[2020-03-05 16:50] #39 closed, assigned to pomadchin

[2020-03-05 21:46] pomadchin opened #43 "GeoTrellis PointCloud server Docker"
Add a docker env into the project to make it possible to run the test even without installed PDAL

[2020-03-07 02:58] pomadchin opened #47 "Mesh Rasterization Bug"
![seam-bug](https://user-images.githubusercontent.com/4929546/76135489-596a8200-5ff5-11ea-8f7d-0e98e74a1ae2.gif)

The following unit captures a bug: https://github.com/geotrellis/geotrellis-pointcloud/pull/46/files#diff-f3b763efd172586c5a244c399cc9821bR103-R106

Unit test code:
[code]

[2020-03-09 21:18] pomadchin opened #48 "Native Mesh Rasterization"
Move rasterizer into JNI bindings and benchmark it.

https://github.com/PDAL/java/pull/36

[2020-03-10 00:56] #43 closed, assigned to pomadchin

[2020-03-10 01:06] pomadchin commented on #37
To reproduce these benchmarks run:

[code]

|                                            | Dataset    | Resolution | delaunay + rasterization, ms/op |
|-------------------------|----------|------------|---------------------------------|
|PDAL (native rasterizer) |red-rocks | 6.9375        | 888.188 ±  139.047                       |
|PDAL (JVM rasterizer)    |red-rocks | 6.9375        | 1802.555 ±

[2020-03-10 01:12] pomadchin commented on #48
PDAL 2.1.5-RC1 is released and GT PointCloud depends on it.

[2020-03-10 01:12] #48 closed, assigned to pomadchin

[2020-03-11 20:59] #37 closed, assigned to pomadchin

[2020-03-11 21:00] pomadchin commented on #37
The full report is here https://github.com/geotrellis/geotrellis-pointcloud/tree/master/benchmark

[2020-03-13 19:34] pomadchin commented on #47
In the png from the topic description, you could notice a small seam; it turned out to be also a bug of a rasterizer but a bit different.
An extra test was added to track it down: https://github.com/geotrellis/geotrellis-pointcloud/commit/bd11b894c2a6181a824c166320e8a21e857dbb65#diff-f3b763efd172586c5a244c399cc9821bR112

![download (31)](https://user-images.githubusercontent.com/4929546/76653907-1

[2020-03-13 23:53] pomadchin commented on #47
The last one was actually a reprojection bug (that could only be visible with the nn reprojection application)!

![image](https://user-images.githubusercontent.com/4929546/76669948-5119c600-6564-11ea-92a6-c3a365e88649.png)

[2020-03-14 01:00] #47 closed, assigned to pomadchin, jpolchlo

[2020-03-14 01:08] pomadchin commented on #32
Closed in https://github.com/geotrellis/geotrellis-pointcloud/issues/32

[2020-03-14 01:08] #32 closed, assigned to jpolchlo

[2020-03-14 01:39] pomadchin commented on #33
I'm wondering, was it covered by https://github.com/geotrellis/geotrellis-pointcloud/issues/37 in general or if it was covered only partially? Mb it makes sense to create more specific issues and to close this one?

[2020-03-14 14:09] pomadchin opened #52 "Document EPT catalog generation"
Document EPT catalog generation and updating it from a set of las / laz files. It should be probably a part of a [README.md](https://github.com/geotrellis/geotrellis-pointcloud/blob/master/README.md) file.

We can use `connormanning/entwine` docker image for the ept catalog generation decription (see [entwine repo](https://github.com/connormanning/entwine#usage)).

[Catalog builder args descriptio

[2020-03-16 15:09] pomadchin opened #53 "DEMReprojectRasterSource improvements"
At this point DEMReprojectRasterSource uses GeoTrellis Region reproject, this task is to implement a DEMReprojectRasterSource that uses a PDAL pipeline to perform reprojection.

A benchmark should also be implemented as a part of this task.

[2020-03-16 20:31] pomadchin commented on #53
The first attempt to perform reprojection via PDAL Pipeline produces seams during the reprojection step:

![image](https://user-images.githubusercontent.com/4929546/76797315-a0016e80-67a3-11ea-9ced-a3a8ac7a6592.png)

[2020-03-16 21:08] pomadchin commented on #53
It worked after buffering the input

![image](https://user-images.githubusercontent.com/4929546/76799831-b6f68f80-67a8-11ea-86c3-df8b141fc462.png)

[2020-03-16 23:01] pomadchin opened #54 "Entwine overlapping bounds tiles read"
The task is to check out https://github.com/PDAL/PDAL/commit/a2a08f0f44bb39323158c55bcce140b990e0668f behavior;

Ref: https://github.com/PDAL/PDAL/issues/2959

- [x] Build a Docker container with the PDAL version from the branch
  - as a point to start we can use [pdal-jni Dockerfile](https://github.com/PDAL/java/blob/master/scripts/docker/2.0.0/debian/Dockerfile)
- [ ] Run benchmarks and / or che

[2020-03-16 23:50] pomadchin commented on #53
[code]

Accroding to benchmarks it makes no sense at this point to use PDAL Reproejction

[2020-03-17 00:03] #53 closed, assigned to pomadchin

[2020-03-17 00:04] pomadchin commented on #33
Closed in https://github.com/geotrellis/geotrellis-pointcloud/pull/55

[2020-03-17 00:04] #33 closed

[2020-03-19 17:59] echeipesh commented on #54
Outcome: Test the PDAL created no-cull option to see the effect on degenerate case.

[2020-03-19 18:06] echeipesh opened #56 "Find and document degenerate Delaunay triangulation in 3DEP"
In https://github.com/geotrellis/geotrellis-pointcloud/issues/54 we're talking about using the PDAL provided no-cull option to "correctly" generate TINs in regions where the bounding box is inside the convex hull.

This issue is to find a boundary region in 3DEP dataset that misbehaves, producing incorrect TIN without reference points produced through the no-cull option. It would be helpful to hav

[2020-03-19 18:14] echeipesh opened #57 "Test PDALRasterSource on full scale 3DEP regions"
Ref: https://usgs.entwine.io/

This issue is to point geotrellis-server + PDALRasterSource at 3DEP  and explore the performance and behavior on a large data set. The outcome of this issue is a demo and a list of areas or conditions under which issues were encountered.

- [x] [Point GeoTrellis-Server at 3DEP on S3](https://github.com/geotrellis/geotrellis-pointcloud-server/blob/master/src/main/reso

[2020-03-23 22:14] pomadchin opened #58 "Fix benchmarks measurement"
Fix benchmarks mesurements and add pure PDAL execution benchmarks of the entwine catalog reads.

[2020-03-23 23:48] #58 closed, assigned to pomadchin

[2020-03-25 20:39] echeipesh opened #60 "EPTMetadata produces too many reads for large catalogs"
During `DEMRasterSource` initialization we end up in `EPTMetadata.pointsIntLevel`

https://github.com/geotrellis/geotrellis-pointcloud/blob/71953977dd75357dbab3ca6a89cf3bea1d20111a/pointcloud/src/main/scala/geotrellis/pointcloud/raster/ept/EPTMetadata.scala#L43-L54

This appears to want to read metadata for every tile which is not practical for large catlogs

Example:
[code]

Once instrumented sta

[2020-03-25 20:53] pomadchin commented on #60
We can simplify it: we don't need to parse all the files now (nothing from it is used except CRS and Extent).

There are two possible options:
1. read and parse _only_ ept.json file ourselves
2. add a [stats filter](https://pdal.io/stages/filters.stats.html) into the pipeline and read metadata via PDAL and parse its metadata.

[2020-03-25 22:15] jpolchlo commented on #60
Option 1: we already do this.

Option 2, not so much:
[code]
The operation did not return in sufficient time.  (Nor do I think it does what we want.)

Note that we're hanging up trying to determine the depth of the hierarchy so that we can calculate the resolutions.  This requires reading into the `ept-hierarchy` files.  In the case of the specific test file, there are 37k+ tree nodes, 30k+ of whi

[2020-03-26 16:00] pomadchin opened #62 "Make use of an OverviewStrategy in the DEMRasterSources implementation"
At this point `DEMRasterSources` don't use `OverviewStrategy` and rely only on the `PDAL` `EPTReader` capabilities https://github.com/PDAL/PDAL/blob/2.1.0/io/EptReader.cpp#L293-L318.

This task is to improve control over it to improve real time performance.

The core use case is to be able to select the actual resolution we're querying from the EPT tree.

- Use OverviewStrategy to select the PDAL

[2020-03-26 18:46] #60 closed, assigned to pomadchin

[2020-03-27 14:24] jpolchlo opened #64 "Investigate IDWRasterSource"
We've recently put in some notable efforts to provide a `DEMRasterSource` implementation based on a Delaunay triangulation.  This approach is well-warranted when the input data are somehow incomplete, say, when the lidar scanner misbehaves over water, or when there are "shadows" behind objects during off-nadir scans.  The triangulation-based approach excels when the data present with such holes, a

[2020-03-31 19:09] echeipesh opened #65 "Vary relationship between requested raster CellSize and PDAL pipeline resolution"
Currently the `DEMRasterSource` translated the requested cell size is translated directly to PDAL pipeline resolution:

https://github.com/geotrellis/geotrellis-pointcloud/blob/ae576f88d63b4a028e881931ef305ed7f56b682d/pointcloud/src/main/scala/geotrellis/pointcloud/raster/ept/DEMRasterSource.scala#L67-L72

We have observed that response latency is very sensitive to the query resolution: https://gi

[2020-03-31 19:15] echeipesh opened #66 "Native IDW Rasterizer"
Connects: https://github.com/geotrellis/geotrellis-pointcloud/issues/64

Current investigation is focusing on using the GeoTrellis JVM rasterizer to evaluate the behavior and results. If those look acceptable and interesting the performance can be improved by performing rasterization of the Pipeline query natively.

While its currently possible to produce DEMs from EPT pyramids using PDAL command

[2020-03-31 19:33] echeipesh opened #68 "ECS Deployment"
The driving use case for `DEMRasterSource` is to dynamically serve DEMs for WCS and WMS requests from EPT pyramid through [`geotrellis-point-cloud-server`](https://github.com/geotrellis/geotrellis-pointcloud-server).

However, currently queries against PDAL Pipeline are not thread safe. This obviously reduces parallelism of requests. For low to medium query volumes the parallelism can be sufficien

[2020-03-31 19:39] jpolchlo opened #69 "Fix the resolutions response from DEM RasterSources"
While messing around with QGIS via https://github.com/geotrellis/geotrellis-pointcloud-server, I noticed something funny with the DEM raster sources is going on.  Observe zooming in on the Red Rocks data:

![far](https://user-images.githubusercontent.com/18410961/78067709-2a7dcc80-7365-11ea-9570-8cc6c6d45a79.png)
![near](https://user-images.githubusercontent.com/18410961/78067787-4da87c00-7365-11e

[2020-03-31 19:52] pomadchin commented on #69
Will add some extra context, GeoTrellis PointCloud logs all the requested scenes. During the WCS zoom in operation QGIS always sends the same request:

[code]

Where `GRIDOFFSETS=-0.00006233669818305%2C0.00008030763819988` is the requested resolution.

WMS and WMTS properly handle zoom requests (this can actually be also an explanation why WCS is so much faster).

[2020-03-31 19:56] echeipesh opened #70 "Produce DEM layer from EPT using Spark"
The driving use case behind `DEMRasterSource` development is to produce dynamic DEM raster from triangulation of the pointcloud subset returned from Entwine tree query. The intent is to use Entwine trees as authoritative data source and minimize the work required to maintain the derived DEM product.

Two problems currently exist:
- Generating triangulation on the fly is feasible but still relative

[2020-03-31 21:15] echeipesh opened #71 "Prioritize Point Promotion when building EPT pyramid"
![image](https://user-images.githubusercontent.com/1158084/78075047-cca3b180-7371-11ea-88de-1b85eacfa13a.png)

On the left, we can see the triangulation interpolation of a region west of Lake Champlain. This is contrasted to a more conventional inverse distance weighted (IDW) reconstruction on the right.

The TIN appears to give a more textured model, and that model seems to more accurately repres

[2020-03-31 21:20] echeipesh opened #72 "Introduce attribute filtering into DEMRasterSource"
Connects: https://github.com/geotrellis/geotrellis-pointcloud/issues/71

In the above issue I said:

This is potentially a lie, we have not actually tried doing attribute filtering at those zoom levels. It could be that due to sample size there are already enough samples at given zoom level that are ground returns. Practically speaking we could already be able to return much better product.

This

[2020-04-01 17:59] jpolchlo commented on #69
That's a good observation, and it implies that we need a proper resolution list to be supplied in the GetCapabilites request.

[2020-04-01 18:19] jpolchlo commented on #52
# Structure of EPT Hierarchies

An EPT is based on an octree structure. The entire point set has a volumetric extent which
serves as the root of the tree. Each cell of the tree has a corresponding LAZ file in the hierarchy.
The following 2-d illustration demonstrates the structure of the tree using a quadtree.
[code]
Each tree cell also has a logical grid associated with it that uniformly subdivid

[2020-04-01 18:19] #52 closed, assigned to jpolchlo

[2020-04-01 18:33] jpolchlo commented on #54
This test is pending on two events: (1) locating a test example with a gap, and possibly (2) adding a parameter to [ReaderEpt](https://github.com/PDAL/java/blob/master/core-scala/src/main/scala/io/pdal/pipeline/PipelineExpressions.scala#L69-L80) (in a branch) to access the no-cull option.  The second can be eliminated in favor of providing a text pipeline.

Once a gap is found, we would need to fi

[2020-04-01 18:35] jpolchlo commented on #54
A Dockerfile to provide the branch of PDAL:

[code]

[2020-04-01 18:49] jpolchlo commented on #56
This issue is still outstanding.  We need to examine a variety of 3DEP areas that contain reasonably-sized water bodies—the only areas allowed to have data voids.  I've been trying to use WCS, but for whatever reason, it is failing to zoom in on the pointcloud when we try to look closer, so the voids are hard to discover.  We can switch over to WMS or WMTS, though those services appear to fail at

[2020-04-01 18:53] pomadchin commented on #56
Yep, WMS and WMTS properly handle resolutions at this point.

[2020-04-01 18:56] jpolchlo commented on #57
I was able to point https://github.com/geotrellis/geotrellis-pointcloud-server at 3DEP sources on S3.  These required the `application.conf` to be modified (or a separate conf file can be provided at runtime as a --conf argument) to point to sources in the s3://usgs-lidar-public/ bucket (the AWS_REGION environment variable needs to be set to `us-west-2` for this to work).

No notable performance i

[2020-04-01 18:57] #57 closed, assigned to pomadchin, jpolchlo

[2020-04-02 18:37] echeipesh commented on #62
Change in `EPTRasterSourceProvider`

Use case:
We get a WCS request is for 30x30m resolution, we want to query the EPT through PDAL pipeline at at 60x60m resolution:

`ept://path/to/catalog?overviewStrategy=auto-2`

[2020-04-02 19:08] pomadchin opened #73 "Update PointCloudRasterSources Provider"
RasterSourcesProvider should support both IDW TIN RasterSources.
Blocked by https://github.com/geotrellis/geotrellis-pointcloud/pull/67
Update GT Server to use the new PointCloud version and probably upgrade up to the recent GeoTrellis server.

[2020-04-02 19:32] jpolchlo opened #74 "Read multiple resolutions to deal with data voids"
When a data void is encountered, we can currently experience some bad behaviors in our DEM generation.  For the example case of a point cloud and extent pairing that appears as the illustration below, we will get an improper DEM result.  The DEM will be confined to the area containing the points, and the right side of the result will be empty.
[code]

For gap filling to work, points on all sides o

[2020-04-02 19:39] pomadchin opened #75 "Investigate the Entwine Reader usage"
At this point PointCloudRasterSources uses PDAL JNI which uses PDAL Pipeline to read entwine tiles. However, this can be [slow](https://github.com/geotrellis/geotrellis-pointcloud/tree/master/benchmark) and not [parallelizable](https://github.com/PDAL/java/blob/master/native/src/io_pdal_Pipeline.cpp#L94).

To resolve this task it is possible to use [Entwine Reader](https://github.com/connormanning

[2020-04-07 18:02] #69 closed, assigned to jpolchlo

[2020-04-07 20:13] pomadchin commented on #69
https://github.com/geotrellis/geotrellis-pointcloud-server/commit/81b545c7794c998397648bd181acfbb59e28366b 💯

[2020-04-07 20:16] pomadchin commented on #69
![image](https://user-images.githubusercontent.com/4929546/78715150-f8331880-78ea-11ea-8c98-c3576afcffb7.png)

And all WCS requests work correct now.

[2020-04-09 14:50] #73 closed, assigned to pomadchin

[2020-04-14 19:28] #62 closed, assigned to jpolchlo

[2020-10-05 01:32] pomadchin commented on #66
https://github.com/PDAL/java/pull/36

[2020-10-05 01:33] #64 closed, assigned to jpolchlo

[2021-03-29 02:23] pomadchin opened #83 "Replace TravisCI with GitHub Actions"
Replace TravisCI with more convenient GitHub Actions

[2021-03-29 02:24] pomadchin opened #84 "Establish the new release process"
Auto-publish to maven central. Connected with https://github.com/geotrellis/geotrellis-pointcloud/issues/83